.main-body {
    background-color: blueviolet;
    color: silver;
    font-size: 600px;
    font-family: 'Lobster Two', cursive;
}

.spacing {
    display: flex;
    justify-content: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#c {
    margin-right: 30px;
}

#fl {
    transform: translateX(-100px);
}